# Byte-compiled / optimized / DLL files
**/.py[cod]
**/__pycache__

# OSX files
**/.DS_Store

# DBT artifacts
**/.msgpack
**/.user.yml

# VSCode settings
**/.vscode

# Distribution / packaging
*.egg-info/
pip-wheel-metadata/
dist/

# Testing
.mypy_cache
.pytest_cache
.ruff_cache
